/* nord colors */
@define-color dark-4  #2e3440;
@define-color dark-3  #3b4552;
@define-color dark-2  #434c5e;
@define-color dark-1  #4c566a;
@define-color white-3 #d8dee9;
@define-color white-2 #e5e9f0;
@define-color white-1 #eceff4;
@define-color blue-1  #8fbcbb;
@define-color blue-2  #88c0d0;
@define-color blue-3  #81a1c1;
@define-color blue-4  #5e81ac;
@define-color red     #bf616a;
@define-color orange  #d08770;
@define-color yellow  #ebcb6b;
@define-color green   #a3be8c;
@define-color purple  #b48ead;

@define-color bg @white-1;
@define-color fg @dark-1;
@define-color selected-bg @dark-1;
@define-color selected-fg @white-1;
@define-color critical-bg #c4746e;
@define-color critical-fg @bg;
@define-color good-bg #8a9a7b;
@define-color good-fg @bg;


* {
    font-family: FiraCode Nerd Font;
    font-size: 12px;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    min-height: 0;
}

body {
    color: @fg;
    background: @bg;
}

.modules-right:last-child { margin-right: 6px; }

.modules-left,
.modules-center,
.modules-right {
    margin-top: 0;
}


/* tooltips */
tooltip {
    color: @bg;
    background: @fg;
    text-shadow: none;
}
tooltip * { color: @bg;
    background: @fg;
    text-shadow: none;
}

/* generic module style */
#clock,
#bluetooth,
#network,
#backlight,
#wireplumber,
#battery,
#tray {
    padding: 0 8px;
    border-radius: 2px;
    color: @fg;
    background: @bg;
}

#clock:hover,
#bluetooth:hover,
#network:hover,
#backlight:hover,
#wireplumber:hover,
#battery:hover,
#tray:hover {
    color: @bg;
    background: @fg;
}

/* workspaces */
#workspaces button {
    background: @bg;
    padding: 0 4px;
}
#workspaces button:first-child { border-radius: 2px 0 0 2px; }
#workspaces button:last-child { border-radius: 0 2px 2px 0; }
#workspaces button:only-child { border-radius: 2px; }
#workspaces button.focused { background: @selected-bg; }
#workspaces button.focused * { color: @selected-fg; }
#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    background: @fg;
}
#workspaces button:hover * { color: @bg; }

/* mode */
#mode {
    padding: 0 8px;
    font-weight: bold;
    border-radius: 2px;
    color: @critical-fg;
    background: @critical-bg;
}

/* privacy */
#privacy-item {
    padding: 0 8px;
    color: @critical-fg;
    background: @critical-bg;
}

/* battery */
#battery.charging {
    color: @good-fg;
    background: @good-bg;
}
#battery.critical:not(.charging) {
    color: @critical-fg;
    background: @critical-bg;
}
