/* nord colors */
@define-color fg #c5c9c5;
@define-color bg #181616;
@define-color selected-bg #e6c384;
@define-color selected-fg @bg;
@define-color critical-bg #c4746e;
@define-color critical-fg @bg;
@define-color good-bg #8a9a7b;
@define-color good-fg @bg;


* {
    font-family: Iosevka NFM;
    font-size: 12px;
    color: @fg;
    background: transparent;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    min-height: 0;
}

.modules-left:first-child { margin-left: 6px; }
.modules-right:last-child { margin-right: 6px; }

.modules-left,
.modules-center,
.modules-right {
    margin-top: 4px;
}


/* tooltips */
tooltip {
    color: @bg;
    background: @fg;
    text-shadow: none;
}
tooltip * { color: @bg;
    background: @fg;
    text-shadow: none;
}

/* generic module style */
#clock,
#bluetooth,
#network,
#backlight,
#wireplumber,
#battery,
#tray {
    padding: 0 8px;
    border-radius: 2px;
    color: @fg;
    background: @bg;
}

#clock:hover,
#bluetooth:hover,
#network:hover,
#backlight:hover,
#wireplumber:hover,
#battery:hover,
#tray:hover {
    color: @bg;
    background: @fg;
}

/* workspaces */
#workspaces button {
    background: @bg;
    padding: 0 4px;
}
#workspaces button:first-child { border-radius: 2px 0 0 2px; }
#workspaces button:last-child { border-radius: 0 2px 2px 0; }
#workspaces button:only-child { border-radius: 2px; }
#workspaces button.focused { background: @selected-bg; }
#workspaces button.focused * { color: @selected-fg; }
#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    background: @fg;
}
#workspaces button:hover * { color: @bg; }

/* mode */
#mode {
    padding: 0 8px;
    font-weight: bold;
    border-radius: 2px;
    color: @critical-fg;
    background: @critical-bg;
}

/* privacy */
#privacy-item {
    padding: 0 8px;
    color: @critical-fg;
    background: @critical-bg;
}

/* battery */
#battery.charging {
    color: @good-fg;
    background: @good-bg;
}
#battery.critical:not(.charging) {
    color: @critical-fg;
    background: @critical-bg;
}
